<!doctype html>
{% load static %}
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>MotoLogic - service center management</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'admin/vendor/bootstrap/css/bootstrap.min.css' %}">
    <link href="{% static 'admin/vendor/fonts/circular-std/style.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'admin/libs/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'admin/vendor/fonts/fontawesome/css/fontawesome-all.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <style>
        html,
        body {
            height: 100%;
        }

        body {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-align: center;
            align-items: center;
            padding-top: 40px;
            padding-bottom: 40px;
        }
    </style>
</head>

<body>
    <!-- ============================================================== -->
    <!-- forgot password  -->
    <!-- ============================================================== -->
    <div class="splash-container">
        <div class="card">
            <div class="card-header text-center"><a href="admin/home">
                    <h2 class="text-primary">MotoLogic</h2>
                </a><span class="splash-description">Please
                    enter new passowrd</span></div>
            <div class="card-body">


                <div class="form-group">
                    <input class="form-control form-control-lg" type="password" id="pass" required=""
                        placeholder="New password" autocomplete="off">
                </div>
                <div class="form-group">
                    <input class="form-control form-control-lg" type="password" id="confpass" required=""
                        placeholder="Confirm password" autocomplete="off">
                </div>
                <div class="form-group pt-1"><a onclick="invokePassword()"
                        class="btn btn-block btn-primary text-light btn-xl" id="submmitBtn">Reset
                        Password</a></div>

            </div>
            <div class="card-footer text-center">
                <span>Don't have an account? <a href="/admin/register">Sign Up</a></span>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- end forgot password  -->
    <!-- ============================================================== -->
    <!-- Optional JavaScript -->
    <script src="{% static 'admin/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'admin/vendor/bootstrap/js/bootstrap.bundle.js' %}"></script>
</body>

<script>
    function invokePassword() {
        pass = $('#pass').val();
        confpass = $('#confpass').val();
        if (validatePassword(pass, confpass)) {
            $.ajax({
                headers: { "X-CSRFToken": '{{csrf_token}}' },
                type: "POST",
                url: "/admin/api-register/",
                data: {
                    'pass': pass,
                    'confpass': confpass,
                    'userid': '{{payload.0}}',
                    'email': '{{payload.1}}',
                    'otp': '{{payload.3}}',
                    'action': 28
                },
                success: (response) => {
                    $("#submmitBtn").prop('disabled', false)
                    response = JSON.parse(response);
                    if (response.status == 1) {
                        swal('Success', response.msg, 'success', 'OK');
                        setTimeout(() => {
                            window.location.href = "/admin/login";
                        }, 2000)
                    } else {
                        swal('Error', response.msg, 'error', 'Close');
                    }
                },
                beforeSend: () => {
                    $("#submmitBtn").prop('disabled', true)
                }
            });

        } else {
            swal('Error', "You have entered a invalid address", 'info', 'close');
        }
    }

    function validatePassword(p, p1) {
        errors = [];
        if (p.length < 8) {
            errors.push("Your password must be at least 8 characters");
        }
        if (p.search(/[a-z]/i) < 0) {
            errors.push("Your password must contain at least one letter.");
        }
        if (p.search(/[0-9]/) < 0) {
            errors.push("Your password must contain at least one digit.");
        }
        if (p != p1) {
            errors.push("Your password and confirm password not match");
        }

        if (errors.length > 0) {
            swal('Error', errors.join("\n"), 'info', 'close');
            return false;
        } else {
            return true;
        }
    }



    function swal(title, text, icon, btnText) {
        Swal.fire({
            'title': title,
            'text': text,
            'icon': icon,
            'confirmButtonText': btnText
        })
    }

</script>

</html>