{% load static %}
{% include 'service_header.html' %}

<!-- ============================================================== -->
<!-- wrapper  -->
<!-- ============================================================== -->
<div class="dashboard-wrapper mt-4">
    <div class="dashboard-ecommerce">
        <div class="container-fluid dashboard-content ">
            <!-- ============================================================== -->
            <!-- pageheader  -->
            <!-- ============================================================== -->
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="page-header">
                        <h2 class="pageheader-title">MotoLogic</h2>
                        <p class="pageheader-text">Nulla euismod urna eros, sit amet scelerisque torton lectus
                            vel mauris facilisis faucibus at enim quis massa lobortis rutrum.</p>
                        <div class="page-breadcrumb">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Update Password</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- end pageheader  -->
            <!-- ============================================================== -->
            <div class="ecommerce-widget">

                <div class="row">
                    <!-- ============================================================== -->
                    <!-- basic form -->
                    <!-- ============================================================== -->
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                        <div class="card">
                            <h5 class="card-header">Update password form</h5>
                            <div class="card-body">
                                <form action="#" id="add_service_form" data-parsley-validate="">
                                    <div class="form-group">
                                        <label for="servName">Current password</label>
                                        <input class="form-control form-control-lg" id="curr_pass" type="password"
                                            placeholder="Enter current password" required autocomplete="off">
                                    </div>

                                    <div class="form-group">
                                        <label for="servName">New password</label>
                                        <input class="form-control form-control-lg" id="passw" type="password"
                                            placeholder="Enter new password" required autocomplete="off">
                                    </div>

                                    <div class="form-group">
                                        <label for="servName">Confirm password</label>
                                        <input class="form-control form-control-lg" id="confpassw" type="password"
                                            placeholder="Confirm new password" required autocomplete="off">
                                    </div>

                                    <div class="row">

                                        <div class="col-sm-6 pl-0">
                                            <p class="text-right">
                                                <button type="submit" class="btn btn-space btn-primary">Submit</button>

                                            </p>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- end basic form -->
                    <!-- ============================================================== -->


                </div>

            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->
    <div class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    Copyright © 2018 Concept. All rights reserved. Dashboard by <a
                        href="https://colorlib.com/wp/">Colorlib</a>.
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="text-md-right footer-links d-none d-sm-block">
                        <a href="javascript: void(0);">About</a>
                        <a href="javascript: void(0);">Support</a>
                        <a href="javascript: void(0);">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- end footer -->
    <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- end wrapper  -->
<!-- ============================================================== -->
{% include 'service_footer.html' %}

<script>
    $('#add_service_form').submit((e) => {
        e.preventDefault();
        curr_pass = $('#curr_pass').val()
        passw = $('#passw').val()
        confpassw = $('#confpassw').val()

        if (curr_pass.length > 2) {
            if (validatePassword(passw, confpassw)) {
                $.ajax({
                    headers: { "X-CSRFToken": '{{csrf_token}}' },
                    type: "POST",
                    url: "/service-api/api-register/",
                    data: {
                        'curr_pass': curr_pass,
                        'passw': passw,
                        'confpassw': confpassw,
                        'action': 17
                    },

                    success: (response) => {
                        response = JSON.parse(response)
                        if (response.status == 1) {
                            swal('Success', response.msg, 'success', 'OK');
                            $("#add_service_form").trigger('reset')
                        } else {
                            swal('Error', response.msg, 'error', 'Close');
                        }
                    },

                });
            }
        } else {
            swal('Error', 'Please enter current password', 'info', 'close');
        }
        return false;
    })
    function validatePassword(p, p1) {
        errors = [];
        if (p.length < 8) {
            errors.push("Your password must be at least 8 characters");
        }
        if (p.search(/[a-z]/i) < 0) {
            errors.push("Your password must contain at least one letter.");
        }
        if (p.search(/[0-9]/) < 0) {
            errors.push("Your password must contain at least one digit.");
        }
        if (p != p1) {
            errors.push("Your password and confirm password not match");
        }

        if (errors.length > 0) {
            swal('Error', errors.join("\n"), 'info', 'close');
            return false;
        } else {
            return true;
        }
    }
    function swal(title, text, icon, btnText) {
        Swal.fire({
            'title': title,
            'text': text,
            'icon': icon,
            'confirmButtonText': btnText
        })
    }
   
</script>