{% load static %}

{% include 'header.html' %}

<!-- Page Header Start -->
<div class="container-fluid page-header mb-5 p-0" style="background-image: url(img/carousel-bg-1.jpg);">
    <div class="container-fluid page-header-inner py-5">
        <div class="container text-center">
            <h1 class="display-3 text-white mb-3 animated slideInDown">Book service</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb justify-content-center text-uppercase">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item text-white active" aria-current="page">profile</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<!-- Page Header End -->

<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="text-primary text-uppercase">// Contact Us //</h6>
            <h1 class="mb-5">Contact For Any Query</h1>
        </div>
        <div class="row g-4">
            <div class="col-12">
                <div class="row gy-4">
                    <div class="col-md-4">
                        <div class="bg-light d-flex flex-column justify-content-center p-4">
                            <h5 class="text-uppercase">// Booking //</h5>
                            <p class="m-0"><i class="fa fa-envelope-open text-primary me-2"></i>book@example.com</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="bg-light d-flex flex-column justify-content-center p-4">
                            <h5 class="text-uppercase">// General //</h5>
                            <p class="m-0"><i class="fa fa-envelope-open text-primary me-2"></i>info@example.com</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="bg-light d-flex flex-column justify-content-center p-4">
                            <h5 class="text-uppercase">// Technical //</h5>
                            <p class="m-0"><i class="fa fa-envelope-open text-primary me-2"></i>tech@example.com</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 wow fadeIn" data-wow-delay="0.1s">
                <iframe class="position-relative rounded w-100 h-100"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3001156.4288297426!2d-78.01371936852176!3d42.72876761954724!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4ccc4bf0f123a5a9%3A0xddcfc6c1de189567!2sNew%20York%2C%20USA!5e0!3m2!1sen!2sbd!4v1603794290143!5m2!1sen!2sbd"
                    frameborder="0" style="min-height: 350px; border:0;" allowfullscreen="" aria-hidden="false"
                    tabindex="0"></iframe>
            </div>
            <div class="col-md-6">
                <div class="wow fadeInUp" data-wow-delay="0.2s">
                    <div class="row g-3">
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="name" placeholder="Your Name">
                                <label for="name">Your Name</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="email" class="form-control" id="email" placeholder="Your Email">
                                <label for="email">Your Email</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="subject" placeholder="Subject">
                                <label for="subject">Subject</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                <textarea class="form-control" placeholder="Leave a message here" id="message"
                                    style="height: 100px"></textarea>
                                <label for="message">Message</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <button class="btn btn-primary w-100 py-3" onclick="submitContact()" type="submit">Send
                                Message</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





{% include 'footer.html' %}
<style>
    .profile-div {
        width: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
    }

    .profile-card {
        width: 250px;
        height: 250px;
        background: #fff;
        padding: 30px;
        border-radius: 50%;
        box-shadow: 0 0 22px #3336;
        transition: .6s;
    }

    .profile-card:hover {
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        height: 300px;
    }

    .profile-card img {
        width: 100%;
        height: 100%;
        transition: .6s;
        z-index: 10;
    }

    .profile-card:hover img {
        transform: translateY(-60px);
    }

    img {
        width: 100%;
        border-radius: 50%;
        box-shadow: 0 0 22px #3336;
        transition: .6s;
    }

    .profile-card:hover img {
        border-radius: 10px;
    }

    .caption {
        margin-top: 15px;
        text-align: center;
        transform: translateY(-70px);
        opacity: 0;
        transition: .6s;
    }

    .profile-card:hover .caption {
        opacity: 1;
    }

    .caption h3 {
        font-size: 25px;
        font-weight: 400;
    }

    .caption p {
        position: relative;
        display: flex;
        width: 100%;
        justify-content: center;
        top: -10px;
        font-size: 15px;
        color: #0c52a1;

    }

    .social-links {
        margin-top: 50px;
        display: flex;
        width: 100%;
        justify-content: space-around;
        position: relative;
        top: -35px;
    }

    @media only screen and (max-width: 700px) {
        .profile-card {
            margin-top: 45px;
        }

    }
</style>
<script>
    function submitContact() {
        name = $("#name").val()
        email = $("#email").val()
        subject = $("#subject").val()
        message = $("#message").val()
        if (name.length > 2) {
            if (ValidateEmail(email)) {
                if (subject.length > 4) {
                    if (message.length > 4) {
                        invokeAjax({
                            'action': 16,
                            'name': name,
                            'email': email,
                            'subject': subject,
                            'message': message
                        })
                    } else {
                        swal('Error', "Please enter a valid subject. minimum character 5", 'error', 'Close');
                    }
                } else {
                    swal('Error', "Please enter a valid subject. minimum character 5", 'error', 'Close');
                }
            } else {
                swal('Error', "Please enter a valid email.", 'error', 'Close');
            }
        } else {
            swal('Error', "Please enter a valid name. minimum 3 character", 'error', 'Close');
        }
        invokeAjax({

        })
    }

    function invokeAjax(data) {
        $.ajax({
            headers: { "X-CSRFToken": '{{csrf_token}}' },
            type: "POST",
            url: "/api-register/",
            data: data,
            success: (response) => {
                response = JSON.parse(response)
                if (response.status == 1) {
                    swal('Success', response.msg, 'success', 'OK');
                } else {
                    swal('Error', response.msg, 'error', 'Close');
                }
            },

        });
    }
    function ValidateAddress(address) {
        if (/^[a-z0-9\s,'-]*$/i.test(address)) {
            return (true)
        } else {
            return (false)
        }
    }

    function ValidateMobile(number) {
        if (/^(0|91)?[6-9][0-9]{9}$/.test(number)) {
            return (true)
        } else {
            return (false)
        }
    }

    function ValidateEmail(email) {
        return email.match(
            /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
        );
    }

    function swal(title, text, icon, btnText) {
        Swal.fire({
            'title': title,
            'text': text,
            'icon': icon,
            'confirmButtonText': btnText
        })
    }

</script>